@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html,
body,
#root,
.app {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #060f1e;
  color: #e8f0fe;
}

@media only screen and (min-width: 1100px) {
  html,
  body,
  #root,
  .app {
    height: 100%;
  }
}
